node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/

/e2e
/gulp
/src
.bowerrrc
.editorconfig
.eslintrc
.yo-rc.json
bower.json
gulpfile.js
karma.conf.js
npm-debug.log
package.json
protractor.conf.js

