<div layout="row" layout-align="center center" class="ib-footer">

  <div class="text-center text-2x">
    <md-button flex="50" class="md-flat"><a href="/about">Home</a></md-button>
    |
    <md-button flex="50" class="md-flat" ng-click="footer.showInfoToast('About')"> About</md-button>
    |
    <md-button flex="50" class="md-flat" ng-click="footer.showInfoToast('Contact')">Contact</md-button>

    <p class="text-center text-1x"><i class="glyphicon glyphicon-copyright-mark"></i> InstantBlog 2015. All rights reserved.</p>
  </div>
</div>

