<md-toast class="md-has-header ib-info-block text-left" ng-cloak="">

  <div class="ib-toast-content">
    <div class="text-right">
      <md-button ng-click="toast.closeToast()">Close X</md-button>
    </div>
    <div class="text-4x"> {{toast.infoType}}</div>

    <hr/>
    <div ng-if="toast.infoType==='About'">

      <div layout-padding>

        <p class="text-3x">InstantBlog creates an instant blog page for you by information from your
          <a href="https://instagram.com">Instagram</a> account. All you need to do is to replace YourUserName with
          your
          Instagram's username in this link: <span class="text-italic">http://instantblog.me/<span class="text-red">YourUserName</span></span>.
          For example:
        </p>

        <md-content>
          <div class="text-center text-3x">
            http://instantblog.me/
            <acme-malarkey extra-values="['mynameisyan', 'instagram', 'awesome_name']"></acme-malarkey>
          </div>
        </md-content>
      </div>

      <div layout-padding class="text-3x">
        <p class="text-italic">You might want to know ...</p>
        <hr/>

        <p>- InstantBlog uses are for <strong>FREE</strong>.</p>


        <p>- Private users' accounts are NOT viewable on InstantBlog.</p>

        <p>- Feel free to use InstantBlog's link as your personal blog page, and to share it with your friends.</p>

        <p>- <span class="text-blue text-3x">{{blog.FireBaseService.totalPageViews}}</span> page views since
          InstantBlog is published on Oct 22, 2015, with
          <span class="text-blue text-3x">{{blog.FireBaseService.totalUniqueUsers}}</span>
          unique Instagram usernames searched.</p>
      </div>

    </div>


    <div ng-if="toast.infoType==='Contact'" class="ib-md-input">
      <p>If you have any questions/comments/suggestions, please feel free to send me an
        <md-icon class="text-3x">email</md-icon>, or leave me a message below.</p>
      <br/>

      <form name="commentForm">
        <div>
          <md-input-container>
            <label>Your Comment</label>
            <textarea required name="message" rows="3" ng-model="toast.message" minlength="1" maxlength="1000"></textarea>

            <div ng-messages="commentForm.message.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout layout-sm="column">

          <md-input-container style="width:50%">
            <label>Your Name</label>
            <input required name="name" type="text" ng-model="toast.name" minlength="1" maxlength="100"/>
            <div ng-messages="commentForm.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container style="width:50%">
            <label>Your Email (optional)</label>
            <input type="email" name="email" ng-model="toast.email" ng-pattern="/^.+@.+\..+$/" minlength="0" maxlength="100"/>

            <div ng-messages="commentForm.email.$error" role="alert">
              <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                Please enter a valid e-mail address.
              </div>
            </div>
          </md-input-container>

        </div>

        <md-button class="md-raised" ng-click="toast.FireBaseService.addToComments(toast)"> Submit Comments</md-button>

        <p class="text-red" ng-if="toast.FireBaseService.isCommentUpdated">Thank you! Your message has been
          received.</p>
      </form>
    </div>
  </div>
</md-toast>
