.ib-nav {
  background-color: rgba(255, 255, 255, .5);
  color: #000;
  padding: 0 5rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 #f0f0f0;
  @media screen and (max-width: 767px) {
    padding: 0 1rem;
  }
  .ib-logo-wrapper, .ib-search-wrapper {
    padding: 1rem 0 0.8rem 0;
  }

  &.on-blog {
    @media screen and (max-width: 767px) {
      .ib-logo {
        font-size: 1.4rem;
        position: absolute;
        top: 4rem;
        z-index: 2;
      }

      .ib-search-wrapper {
        padding: 0;
        max-width: none;
      }
    }
  }

  .ib-logo {
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: solid 1px #000;
    padding: 0.5rem 1.5rem;
    font-family: "Roboto Mono", Menlo, monospace;
    cursor: pointer;
    &:hover {
      transform: scale(0.95);
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }

  .ib-nav-search {
    max-width: 28rem;
    margin-left: auto;
  }

  md-autocomplete {
    height: 3.2rem;
    md-autocomplete-wrap {
      height: 3.2rem;
    }
    input:not(.md-input) {
      height: 3.2rem;
      line-height: 3.2rem;
      font-size: 1.4rem;
    }

    .md-whiteframe-z1 {
      box-shadow: none;
      border: 1px solid #efefef;
      border-radius: 3px;
    }
    button {
      width: 2rem;
      height: 2rem;
      md-icon {
        height: 2rem;
        width: 2rem;
      }
    }
  }

}


