<div class="yy-blog-timeline-box"
     ng-class="{'sm':isSmallScreen,'left':$odd && !isSmallScreen,'right':$even||isSmallScreen}">
  <div class="clearfix">
    <div class="yy-blog-timeline-date">{{gallery.created_time*1000| date:'MMM dd, yyyy, EEEE, HH:mma'}}</div>
    <div class="yy-blog-timeline-index">#{{$index+1}}</div>
  </div>
  <div class="yy-blog-timeline-box-inner">
    <div class="yy-blog-timeline-image-container"  ng-if="!isSmallScreen">
      <img ng-if="!gallery.videos" class="full-width" ng-src="{{gallery.images.low_resolution.url}}"  ng-srcset="{{gallery.images.low_resolution.url}} 320w, {{gallery.images.standard_resolution.url}} 640w"  alt=""/>
      <a href="{{gallery.videos.standard_resolution.url}}" >
        <video ng-if="!!gallery.videos"  autoplay loop muted class="full-width"  alt="">
          <source ng-src="{{gallery.videos.low_bandwidth.url}}"  ng-srcset="{{gallery.videos.standard_resolution.url}} 2x" type="video/mp4">
        </video>
      </a>    </div>
    <div class="yy-blog-timeline-node">
      <i class="glyphicon glyphicon-time"></i>
    </div>
    <div class="yy-blog-timeline-content">
      <div class="yy-blog-timeline-location">
        <a href="https://instagram.com/explore/locations/{{gallery.location.id}}/">
          {{gallery.location.name}}
        </a>
      </div>
      <div class="yy-blog-timeline-image-container" ng-if="isSmallScreen">
        <img ng-if="!gallery.videos" class="full-width" ng-src="{{gallery.images.low_resolution.url}}"  ng-srcset="{{gallery.images.low_resolution.url}} 320w, {{gallery.images.standard_resolution.url}} 640w"  alt=""/>
        <a href="{{gallery.videos.standard_resolution.url}}" >
          <video ng-if="!!gallery.videos"  autoplay loop muted class="full-width"  alt="">
            <source ng-src="{{gallery.videos.low_bandwidth.url}}"  ng-srcset="{{gallery.videos.standard_resolution.url}} 2x"  type="video/mp4">
          </video>
        </a>
      </div>

      <div class="clearfix text-1x">
        <i class="glyphicon glyphicon-heart-empty text-red"></i> {{gallery.likes.count}}&nbsp;&nbsp;
        <i class="glyphicon glyphicon-comment text-blue"></i> {{gallery.comments.count}}
      </div>
      <div class="gallery-image-caption">{{gallery.caption.text}}</div>
      <div ng-include="'app/components/blog-block/comment.tpl.html'"></div>
    </div>
  </div>
</div>
</div>
