<div class="ib-about-container ib-info-block" ng-cloak>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-cloak>
      <md-tab-label>About</md-tab-label>
      <md-tab-body>
        <md-content layout-padding>

          <p class="text-4x">InstantBlog allows you to view your
            <a href="https://instagram.com">Instagram</a> account in a one-page diary/blog format.
            All you need to do is to replace <span class="text-italic text-red">YourUserName</span> with your
            Instagram's username in this link: <span class="text-italic">http://instantblog.me/<span class="text-red">YourUserName</span></span>.
            For example:
          </p>
        </md-content>

        <md-content layout-padding class="malarkey-class">
          <div class="text-center text-5x">
            http://instantblog.me/<acme-malarkey extra-values="['mynameisyan', 'instagram', 'yourname']"></acme-malarkey>
          </div>
        </md-content>

        <div class="text-right ib-search-wrapper">
          <div class="ib-nav-search">
            <form ng-submit="$event.preventDefault()">
              <md-autocomplete
                md-selected-item="blog.user"
                md-search-text-change="blog.searchUser(blog.username)"
                md-search-text="blog.username"
                md-items="user in blog.searchUser(blog.username)"
                md-item-text="user.username"
                md-min-length="1"
                placeholder="Search for an Instagram user"
                md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <div ng-click="blog.changeUser(user.username)">
                    <img ng-src="{{user.profile_picture}}" alt="{{user.username}}"
                         class="img-circle searched-user-thumb-sm"/>
                    <span> {{user.username}} </span>
                  </div>
                </md-item-template>
              </md-autocomplete>
            </form>
          </div>
        </div>


        <md-content layout-padding class="ib-preview text-center text-3x">
          <p> This is how mine looks like: </p>
          <p><a href="/mynameisyan">http://instantblog.me/<span class="text-red">mynameisyan</span></a></p>
          <img class="full-width" src="assets/images/preview.jpg" alt=""/>
        </md-content>

        <md-content layout-padding>
          <p class="text-3x text-italic">You might want to know ...</p>
          <hr/>
          <p>- InstantBlog uses are for <strong>FREE</strong>.</p>

          <p>- Private users' accounts are NOT viewable on InstantBlog.</p>

          <p>- Feel free to use InstantBlog's link as your personal blog page, and to share it with your friends.</p>

          <p>- <span class="text-blue text-3x">{{blog.FireBaseService.totalPageViews}}</span> page views since
            InstantBlog is published on Oct 25, 2015, with
            <span class="text-blue text-3x">{{blog.FireBaseService.totalUniqueUsers}}</span>
            unique Instagram usernames searched.</p>
        </md-content>

        <md-content layout-padding>

          <blockquote class="text-3x">
            <p>"Thank you for using InstantBlog. I hope you are liking it so far! ^ - ^</p>

            <p>I created InstantBlog because I was trying to help my cousin build a simple online
              'Baby Journal' for her baby, where she can post pictures and write stories daily, then to share with
              family and
              friends who cares. At that time, I just got finished making a "Gallery" for
              <a href="http://yan-chen.github.io/#/gallery">my own website</a> by pulling images from my
              <a href="https://instagram.com">Instagram</a> account, I then came up with this idea of creating
              InstantBlog.</p>

            <p>I will keep improving and refining InstantBlog when time allows. If you have any questions and
              suggestions, you are welcome to leave me a message under the <strong>Contact</strong> section.</p>

            <p>Thank you for your support ~ !"</p>

            <p>&nbsp;</p>

            <p>--<i><a href="/mynameisyan">Yan Chen</a> </i></p>

          </blockquote>

          <br/>
          <br/>

          <md-content layout-padding="" class="text-center">
            <small class="text-grey"><i class="glyphicon glyphicon-copyright-mark"></i> InstantBlog
              2015. All rights reserved.</small>
          </md-content>
        </md-content>
      </md-tab-body>
    </md-tab>

    <!----------------------------------->
    <md-tab ng-cloak>
      <md-tab-label>Contact</md-tab-label>
      <md-tab-body>

        <div class="ib-md-input">
          <p>If you have any questions/comments/suggestions, please feel free to send me an
            <a href="mailto:ychen.0931@gmail.com">
              <md-icon class="text-10x text-blue">email</md-icon>
              <md-tooltip>ychen.0931@gmail.com</md-tooltip>
            </a> , or leave me a message below.
          </p>
          <br/>

          <form name="commentForm">
            <div>
              <md-input-container>
                <label>Your Comment</label>
                <textarea required name="message" rows="3" ng-model="blog.comment.message" minlength="1"
                          maxlength="1000"></textarea>

                <div ng-messages="commentForm.message.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout layout-sm="column">

              <md-input-container style="width:80%">
                <label>Your Name</label>
                <input required name="name" type="text" ng-model="blog.comment.name" minlength="1" maxlength="100"/>

                <div ng-messages="commentForm.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container style="width:80%">
                <label>Your Email</label>
                <input type="email" name="email" ng-model="blog.comment.email" ng-pattern="/^.+@.+\..+$/" minlength="0"
                       maxlength="100"/>

                <div ng-messages="commentForm.email.$error" role="alert">
                  <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                    Please enter a valid e-mail address.
                  </div>
                </div>
              </md-input-container>

            </div>
            <br/>
            <md-button class="md-raised" ng-click="blog.FireBaseService.addToComments(blog.comment);blog.resetComment()"> Submit
              Comments
            </md-button>

            <p class="text-red" ng-if="blog.FireBaseService.isCommentUpdated">Thank you! Your message has been
              received.</p>
          </form>
        </div>
      </md-tab-body>

    </md-tab>
  </md-tabs>


</div>
