@screen-xs : 599px;
@screen-md : 959px;
@screen-lg-min : 1199px;
@yy-blue : #66b9d2;
@yy-blue-dark : #44868f;


.blog-container {
  position: relative;
  font-family: 'Fjord One', serif;
  text-wrap: normal;
  //
  .ib-float-fab {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 30%;

    md-fab-trigger .md-button.md-fab{
      background: @yy-blue;
      i{
        font-size:18px;
        top:4px;
      }
    }
    md-fab-actions .md-button.md-fab {
      width:36px;
      height:28px;
      color:#888;
      i {
        font-size:18px;
        top:4px;
      }
    }
    md-fab-actions .md-button.md-fab.active{
      color:@yy-blue;
    }
  }
  //

  //searching
  .ib-search-wrapper {
    padding: 1rem 0.8rem 0.8rem 0;
    max-width: 28rem;
    margin-left: auto;
    @media screen and (max-width: 599px) {
      max-width: 100%;
      padding: 0;
      margin-left: 0;
    }
    md-autocomplete {
      height: 3.2rem;
      md-autocomplete-wrap {
        height: 3.2rem;
      }
      input:not(.md-input) {
        height: 3.2rem;
        line-height: 3.2rem;
        font-size: 1.4rem;
      }

      .md-whiteframe-z1 {
        box-shadow: none;
        border: 1px solid #efefef;
        border-radius: 3px;
      }
      button {
        width: 6rem;
        height: 2rem;
        md-icon {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
  //  logo
  .ib-logo-wrapper {
    .ib-logo {
      display: inline-block;
      margin: 1rem;
      font-size: 1.3rem;
      border-radius: 0.5rem;
      border: solid 1px #000;
      padding: 0.5rem 1.5rem;
      font-family: "Roboto Mono", Menlo, monospace;
      cursor: pointer;
    }
    &.sm .ib-logo {
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 2;
      border: solid 1px #fff;
      margin: 0;
    }
    &:hover {
      transform: scale(0.95);
    }
    a {
      text-decoration: none;
      color: #000;
    }
    &.sm a {
      color: #fff;
    }
  }

  //  blog
  .blog-header {
    width: 100%;
    height: 45rem;
    filter: blur(30px);
    overflow: hidden;
    position: relative;
    margin: -5px 0;

    @media screen and (max-width: @screen-md) {
      height: 35rem ;
    }
    @media screen and (max-width: @screen-xs) {
      height: 20rem ;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .5);
      z-index: 1;
    }

    img {
      position: absolute;
      bottom: -60%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  .user-profile {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -7.5rem;

    @media screen and (max-width: @screen-xs) {
      margin-top: -6.5rem;
    }

    img {
      border: 5px solid white;

      @media screen and (max-width: @screen-xs) {
        width: 13rem;
      }
    }
  }
  .user-info {
    margin-top: 10rem;
    @media screen and (max-width: @screen-xs) {
      margin-top: 8rem;
      padding: 1rem;
    }
  }

  .ib-user-error {
    padding: 10rem 0 5rem;
  }

  .blog-content {
    margin: 3rem 0 5rem;
  }
  .blog-loadmore {
    margin: 8rem 0 12rem;
    @media screen and (max-width: @screen-xs) {
      margin: 3rem 0 12rem;
    }
  }
}



